//Created by dmitry on 28.06.2015.


// Footer mixins
mixin footer(label)
      footer.footer
         .bottom-menu.bottom-menu-inverse
            .container
               .row
                  .col-md-2.col-sm-2
                     a.navbar-brand(href='/')=label
                  .col-md-8.col-sm-8
                     ul.bottom-menu-list
                        li
                           a(href='/impressum') Impressum
                        li
                           a(href='#fakelink') Datenschutz
                  .col-md-2.col-sm-2

// Navigation mixins
mixin nav(about,username)
      meta(charset='UTF-8')
      nav.navbar(role='navigation')
         // Brand and toggle get grouped for better mobile display
         .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
               span.sr-only Toggle navigation
            a.navbar-brand(href='/') Pencilbox.io #geoblogging

         //Collect the nav links, forms, and other content for toggling
         #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav

            ul.nav.navbar-nav.navbar-right
               li
                  a.btn.btn-info.pb-bradius-0px(href="/put?lat="+lat + "&lng="+lng)
                     span.icon-436118489922255_9121461706893368219_n(style="font-size:2em")
               if username.length > 0
                  li.dropdown
                     a.dropdown-toggle(href='#', data-toggle='dropdown') !{username}
                        b.caret
                     span.dropdown-arrow
                     ul.dropdown-menu
                        li
                           a(href="/put?lat="+lat+"&lng="+lng) Nachricht schreiben
                        li
                           a(href="/places") My places
                        li
                           a(href='/logout') Abmelden
               else
                  li
                     a(href='/login') Anmelden
mixin modal(execute, modalName, text, actionBtnText, actionBtnId, cancelBtnId)
   if(execute > 0)
       div(class="modal fade", id=modalName)
         div(class="modal-dialog")
            div(class="modal-content")
               div(class="modal-header")
                  button(type="button",class="close",data-dismiss="modal", aria-label="Close")
                     span(aria-hidden="true")

                  h4(class="modal-title")=text
                  h4(class="modal-progress-bar")

               div(class="modal-footer")
                  a(type="button", class="btn", data-dismiss="modal", id="btnSpin")
                  button(type="button", class="btn btn-default",data-dismiss="modal", id=cancelBtnId) Cancel
                  button(type="button", class="btn btn-primary", id=actionBtnId)=actionBtnText





