doctype html
include mixins.pug
html(lang='de')
head
    meta(charset='utf-8')
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // Loading Bootstrap
    link(href='flat/css/vendor/bootstrap.min.css', rel='stylesheet')
    // Loading Flat UI
    link(href='flat/css/flat-ui-pro.css', rel='stylesheet')

    // cusomize main page
    link(href='stylesheets/style-main-page.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Lobster+Two', rel='stylesheet',type='text/css')

    body

        inpute(id="lat",type="hidden", value=lat)
        inpute(id="lng",type="hiden", value=lng)
        inpute(id="announceID",type="hiden", value=announceID)

        .container

            +nav(about, username)

            each announce in ancmts
                div.jumbotron
                    .form-group
                        .input-group
                            input#search.form-control(type='search', placeholder='In meinem Ort suchen', value=announce.rest.address)
                            span.input-group-btn
                                button.btn(type='button')
                                    span.fui-location

                    div.tagsinput-default
                        - var value="";
                          each item, index in announce.rest.action
                           - value +=item+((index+1)==announce.rest.action.length?"":",")
                        input.tagsinput.tagsinput-typeahead.input-lg(name="tagsinput-02",id="tagsinput", value=value)
                    div#slider-range-min
                    input(type="text",id="amount", readonly, style="border:0; background-color: #eee; color:#3498DB;")
                    div.flat-right
                        input(type="checkbox", checked, disabled="true", data-toggle="switch", data-on-color="info", data-off-color="primary", id="custom-switch-05")
                        .flat-left Filter folgen

            .grid
                .row
                    .item.display-none
                        .well.well-top
                            a.float-left.source
                            a.float-left.a-top Varlamov Dmitry 01.02.2015

                        div(style="position:relative")
                            div(style="position: relative; left: 0; top: 0;", class="imageWrapper")
                                img(src="", class="slideImg masterImg")
                        .well.well-bottom
                            a.fui-location.float-left
                            a.float-left.address
                            hr.margin-top-35px
                            p
                            hr
                            div.btn-group.btn-group-justified
                                a.btn.btn-default.fav(href="#")
                                    span.fui-star-2 300

            each announce in ancmts
                    .item
                        .well.well-top
                            a.float-left.source
                            a.float-left.a-top=announce.name+" am "+announce.time+" gepostet"
                            a.deleteModal(href="#",data-toggle="modal",data-target="#deleteModal",class=announce.userID == userID?"":"hide")
                                span.fui-cross

                        div(style="position:relative; background-color: #F5F5F5")
                            div(class="imageWrapper")
                                each images,index in announce.rest.imgs
                                    if(index==0)
                                        img(src="/images/mini/"+images+"", class="slideImg imgMaster")
                                        //*******************************************************
                                        // Add one more photo makes possible to show slider
                                        //*******************************************************/
                                        if(announce.rest.imgs.length==1)
                                            img(src="/images/mini/"+images+"", class="slideImg imgSlave")
                                    else
                                        img(src="/images/mini/"+images+"", class="slideImg imgSlave")

                        .well.well-bottom
                            a.fui-location.float-left
                            a.float-left.address=announce.rest.address
                            hr.margin-top-35px
                            if(announce.userID == userID)
                                div(id="editOver", style="width: 100%;")
                                    div(style="float: left; width: 95%")
                                        p #{announce.rest.announcement}
                                    div(id="edit",style="float: left; width: 5%; display:none")
                                        a.fui-new
                                div(id="message-holder").display-none
                                     textarea.form-control.send-form(rows=5, name='message', id='message')

                            else
                                p #{announce.rest.announcement}
                            hr
                            div.btn-group.btn-group-justified
                                a.btn.btn-default.fav(href="#",data-toggle="modal",data-target="#anmeldenModal")
                                    span.fui-star-2(class=announce.fav>0?"starred":"")=announce.favCount

            if(ancmts.length == 0)
                .item
                    .well.well-top
                        a.float-left.source
                        a.float-left.a-top Benutzer nicht erkannt
                    div(style="position:relative")
                        div(style="position: relative; left: 0; top: 0;", class="imageWrapper")
                            img(src="/images/mini/557f365a01ff27a81e1c7caa_pic_0.jpg", class="slideImg masterImg")
                    .well.well-bottom
                        a.fui-location.float-left
                        a.float-left.address Drygalski Allee, München
                        hr.margin-top-35px
                        p Die Nachricht wurde gelöscht oder nicht gefunden
                        hr
                        div.btn-group.btn-group-justified
                            a.btn.btn-default.fav(href="#")
                                span.fui-star-2

        +modal(username.length,"deleteModal","Willst Du die Nachricht wirklich löschen?", "Nachricht löschen","btnDelete")
        +modal(username.length>0?0:1,"anmeldenModal","Du bist noch nicht angemeldet", "Anmelden","btnAnmelden")

        +footer("#G5eoblogging")

        script(src='flat/js/vendor/jquery.min.js')
        script(src='flat/js/flat-ui-pro.js')
        script(src='flat/js/application.js')
        script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCrv4JzWzVEf9X2Qf5XbnFDqciFaWQ3QhM&sensor=true&libraries=places')
        script(src='/javascripts/global.js')
        script(src='/javascripts/look.js')
        script(src='/javascripts/createPinitems.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
        script(src='/javascripts/news.js')








