doctype html
include mixins.pug
html
    head
        title My places
        meta(name="viewport", content="initial-scale=1.0,user-scalable=no")

        link(href='flat/css/vendor/bootstrap.min.css', rel='stylesheet')
        // Loading Flat UI
        link(href='flat/css/flat-ui-pro.css', rel='stylesheet')

        link(rel='stylesheet', href='/stylesheets/style-input-page.css')

        // cusomize main page
        style
            .message

    body
        .container
            a(href="/") zur Hauptseite
            div.jumbotron
                div.table-responsive
                    table.table
                        thead
                            tr
                                th Messages
                                th Address
                                th Tags
                                th Radius
                                th Followers
                        tbody
                            each place in places
                                tr
                                    td
                                        div(style="display:inline-block; width:100px; height:100px;")
                                            div.messageCounter(id="pid_"+place._id)=place.messageIds.length
                                    td(style="vertical-align:middle")=place.address
                                    td(style="vertical-align:middle")=place.tags
                                    td(style="vertical-align:middle")=place.radius
                                    td(style="vertical-align:middle")
                                        div(style="display:inline-block; width:50px; height:50px;")
                                            div.followerCounter=place.userIds.length
                                    td(style="vertical-align:middle")
                                        input(type="checkbox", checked, data-toggle="switch", data-on-color="info", data-off-color="primary", id=""+place._id, class="custom-switch-05")

        +modal(1,"savePlaceModal","Do you want to follow this place?", "Yes","btnSave", "btnSaveCancel")
        +modal(1,"deletePlaceModal","Do you want to unfollow this place?", "Yes","btnDelete","btnDeleteCancel")


    script(src='flat/js/vendor/jquery.min.js')
    script(src='flat/js/flat-ui-pro.js')
    script(src='flat/js/application.js')
    script(src='/javascripts/places.js')








